<footer class="footer">
	<div class="footer__container">
		<div class="footer__contacts">
			<a href="tel:88612001010" class="footer__phone">8 (861) 200-10-10</a>
			<div class="footer__city">Краснодар</div>
		</div>
		<div class="footer__operating-mode">
			<div class="footer__adress">
				<span class="footer__adress-lable">Адрес:</span>
				<span class="footer__adress-value">350072, г. Краснодар, ул им. Сергея Есенина, д 108/2</span>
			</div>
			<div class="footer__hours">
				<span class="footer__hours-lable">Часы работы:</span>
				<span class="footer__hours-value">Пн-Пт — с 9:00 до 18:00</span>
			</div>
			<div class="footer__copyright">© 2019 — 2023 «Реальный бизнес»</div>
		</div>
	</div>
</footer>
<!-- <div class="overlay show"></div> -->