<header class="header">
	<div class="header__container">
		<div class="header__body">
			<div class="header__main">
				<a href="NEW_PROJECT_NAME/" class="header__logo">
					<img src="@img/logo.svg" alt="">
				</a>
				<div class="header__menu menu">
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item">
								<a class="menu__link" href="NEW_PROJECT_NAME/registration_ip.html">Регистрация ИП</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="NEW_PROJECT_NAME/registration_ip.html">Регистрация ООО</a>
							</li>
							<li class="menu__item">
								<a href="NEW_PROJECT_NAME/bank_page.html" class="menu__link" href="">Банки</a>
								<button class="menu__arrow _icon-arrow"></button>



								<div hidden class="menu__sub-list sub-list-menu">
									<div class="sub-list-menu__container">

										<div class="sub-list-menu__links-block">
											<div class="sub-list-menu__label">Банки</div>
											<ul class="sub-list-menu__list">
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">Сбер</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">ВТБ</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link"
														href="NEW_PROJECT_NAME/bank_page.html">Тинькофф</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">Точка</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">Сбер</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">ВТБ</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link"
														href="NEW_PROJECT_NAME/bank_page.html">Тинькофф</a>
												</li>
												<li class="sub-list-menu__item">
													<a class="sub-list-menu__link" href="NEW_PROJECT_NAME/bank_page.html">Точка</a>
												</li>
											</ul>
											<a href="NEW_PROJECT_NAME/bank_page.html"
												class="sub-list-menu__link-to-page simple-link">Показать
												все</a>
										</div>


										<div class="sub-list-menu__banner-block banner-block__sub-list-menu">
											<a href="" class="banner-block__image banner-block__image">
												<img src="@img/calculator.png" alt="">
											</a>
											<a href="" class="banner-block__text">Рассчитайте выгодные условия</ф>
												<a href="" class="banner-block__link simple-link">Узнать больше</a>
										</div>

									</div>
								</div>


							</li>
							<li class="menu__item">
								<a class="menu__link" href="">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header__actions">
				<a href="NEW_PROJECT_NAME/calculator_page.html" class="header__calculator-button btn">Калькулятор</a>
				<button class="icon-menu" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>


		</div>
	</div>
</header>